@page
@model WebQuanLyNgayNghiPhep.Pages.QuanLyThongTinPhepModel
@{
}
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mã NV</th>
      <th scope="col">Tên</th>
      <th scope="col">Họ Đệm</th>
      <th scope="col">Chức Danh</th>
      <th scope="col">Thâm Niên</th>
      <th scope="col">Phép Trong Năm</th>
      <th scope="col">Phép Sức Khỏe</th>
      <th scope="col">Phép Thâm Niên</th>
      <th scope="col">Phép Còn lại</th>
      <th scope="col">Phép Đã Ứng</th>
      <th scope="col">Chức Năng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>001</td>
      <td>A</td>
      <td>Nguyễn Văn</td>
      <td>Nhân Viên</td>
      <td>5 năm</td>
      <td>12 ngày</td>
      <td>3 ngày</td>
      <td>1 ngày</td>
      <td>16 ngày</td>
      <td>Không có</td>
      <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Sửa</button>
</div></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>002</td>
      <td>B</td>
      <td>Nguyễn Văn</td>
      <td>Nhân Viên</td>
      <td>5 năm</td>
        <td>12 ngày</td>
      <td>3 ngày</td>
      <td>1 ngày</td>
      <td>16 ngày</td>
       <td>Không có</td>
      <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Sửa</button>
</div></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>003</td>
      <td>C</td>
      <td>Nguyễn Văn</td>
      <td>Nhân Viên</td>
      <td>5 năm</td>
   <td>12 ngày</td>
      <td>3 ngày</td>
      <td>1 ngày</td>
      <td>16 ngày</td>
       <td>Không có</td>
      <td><div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-danger">Sửa</button>
</div></td>
    </tr>
  </tbody>
</table>
</div>
